.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    background: black;
    padding: 0.75rem;
    border-radius: 2rem;
    /* border-bottom: 0.1rem solid #f7d043; */
    box-shadow: 0px 1px 0px 0px #F9FAD0;

}

.task-number {
    background: #111;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}
.buttons{
    display: flex;
    gap: 1rem;
    margin-left: auto;
}
.edit {
    color: blue;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    justify-content: right;
    text-align: right;
    font-size: 1rem;
}

.delete {
    color: red;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    border: none;
    justify-content: right;
    font-size: 1rem;
}