body {
  background: #bababa;
  color: #f6f7cd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  overflow-x: hidden;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  background-color: #121212;
  height: 90vh;
  margin-top: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.hero {
  background: #212c29;
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
}

.highlight {
  color: #b2b7d1;
}

/* Responsive styles */
@media (max-width: 768px) {
  .app {
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .hero {
    padding: 1rem;
    text-align: center;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  body {
    overflow-x: hidden;
  }
}
